:root {
    --main-bg-color: rgb(69, 66, 66);
    ;
    --main-text-color: rgb(132, 147, 110);
}
body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
table {
    margin: 100px 0px ;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 2px rgb(122, 128, 106);
}

th,td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}